.creative {
    .creative__content {
        @include spaceBetweenDiv;
        .creative__bottom {
            .coloum {
                padding: 0 $pd-1;
                .creative__item {
                    position: relative;
                    padding: $pd-1;
                    border: 1px solid $color-white-1;
                    border-radius: 4px;
                    transition: 0.3s;
                    &:hover {
                        .icon {
                            background-color: $color-yellow-0;
                        }
                    }
                    .icon {
                        position: absolute;
                        top: -30px;
                        left: 30px;
                        width: 60px;
                        height: 60px;
                        text-align: center;
                        border-radius: 4px;
                        background: #222;
                        box-shadow: 0 0 0 10px $color-white-0;
                        line-height: 60px;
                        i {
                            color: #fff;
                            font-size: $fs-1 + 10;
                            line-height: $lh-0 + 30;
                        }
                    }
                    h4 {
                        font-size: $fs-0 + 5;
                        margin-top: $mg-0;
                        margin-bottom: $mg-1;
                    }
                    P {
                        margin: 0;
                        color: $color-gray-0;
                        font-size: $fs-0 + 2;
                    }
                }
            }
        }
    }
}
